################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SMS-Backup-And-Restore-Image-Extractor/FileContentIndex
/.vs
